/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 24px;

  transition: transform ease 200ms; ;
}


.gallery-item:hover {
  transform: scale(1.04);
}
.gallery-image {
height: 200px;
}



