/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');

body {
font-family: 'Montserat', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
background-color: var(--light);
overflow-x: hidden;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 24px;
  
  transition: transform ease 200ms; ;
}


.gallery-item:hover {
  transform: scale(1.04);
}
.gallery-image {
  height: 200px;
}

input, textarea {
  width: 360px;
  font-family: inherit;
 border: 1px solid  #808080;
 border-radius: 4px;
 
}
input{
  height: 40px;
  
}

.feedback-form {
  width: 408px;
  height: 296px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
}
.form-label {
 display: flex;
  flex-direction: column;
  text-align: start;
}


.form-btn {
  width: 95px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  color: #fff;
  background: #4e75ff;
  margin: 0;
  border-radius: 8px;
  padding: 8px 16px;
}
 